<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Pass Python variable to Javascript</title>
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index,follow">
    <meta name="description" content="kgvode" >
    <meta http-equiv="X-VA-Compatible" content="ie=edge" >
-->    
<!--   <link rel="stylesheet" href="/static/estate.css"> -->
</head>

<body>

    Here Is the front page menu <br />

    <div id="jsonsql"

    {{stud_json}}

    </div>

    <br>
    <p>Debugging on 30 06 2022</p>

    <img height = '250' src = '/static/downloadedimages/sunbathing_copy.jpg' />

    <br>

    <img height = '250' src = '/static/downloadedimages/sunbathing.jpg' />

    <script>

        function creimg()
        {
            let x = 1;
            return x;
            
        }
    
      //  let pyjson = '{{stud_json}}';
     //   console.log(pyjson);
        let i = 67;
        i = i + 34;
    
    </script>
</body>
</html>



